            .container {
                background-image: url('https://i.postimg.cc/HLqxBqYF/bg.jpg');
                background-repeat: no-repeat;
                position: relative;
                /* background-position: center; */
                background-size: cover;
                height: 700px;
                width: 100%;
                /* border: 1px solid red; */
            }
            
            body {
                font-family: "Montserrat", sans-serif;
                /* font-family: 'Montserrat', sans-serif; */
                /* font-family: 'Montserrat', sans-serif */
            }
            
            .container>h1 {
                /* font-weight: 1000; */
                line-height: 1;
                font-weight: 100px;
            }
            
            .container>.heading {
                font-size: 30px;
                margin-top: 8px;
                margin-left: 80px;
                width: 600px;
                /* border: 1px solid black; */
            }
            
            .container>img {
                width: 150px;
                height: 100px;
                margin-top: 20px;
                margin-left: 80px;
                cursor: pointer;
            }
            
            .container>hr {
                width: 80px;
                height: 5px;
                background-color: white;
                border-radius: 40px;
                float: left;
                margin: 20px 80px;
                margin-bottom: 20px;
            }
            
            .container>p {
                clear: both;
                margin-left: 80px;
                width: 600px;
                font-size: 25px;
                font-family: sans-serif;
            }
            
            .container>button {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 100;
                margin-left: 80px;
                background-color: #171e2f;
                width: 300px;
                height: 50px;
                border-radius: 10px;
                color: aliceblue;
                cursor: pointer;
            }
            /* <!--container2 start --> */
            
            .container2 {
                margin: 50px auto;
                height: 400px;
                /* border: 1px solid red; */
                width: 90%;
                display: grid;
                gap: 7%;
                grid-template-columns: 28% 28% 28%;
                grid-template-rows: 45%;
            }
            
            .box {
                display: flex;
                width: 400px;
                /* border: 2px solid black; */
                /* height: 150px; */
                height: 151px;
                /* margin-left: 40px; */
            }
            
            .container2>.box img {
                width: 150px;
                height: 150px;
                /* margin-left: 80px; */
                /* border: 1px solid red; */
                float: left;
            }
            
            .container2>.box .inner_box {
                flex-wrap: wrap;
                /* margin-top: 30px; */
                padding-left: 10px;
                /* line-height: 30px; */
            }
            
            .container2>.box .inner_box p {
                font-family: sans-serif;
                color: gray;
                font-size: 20px;
                padding-top: 0px;
                margin-top: 0px;
            }
            
            .container2>.box .inner_box h2 {
                margin-top: 10px;
                ;
            }
            /* -------------Container 2 End --------------*/
            /* --------------------container3 Start --------------- */
            
            .container3 {
                width: 90%;
                margin: auto;
                line-height: 30px;
            }
            
            .container3>h1 {
                font-size: 50px;
                font-weight: 5000;
            }
            
            .container3>p {
                font-family: sans-serif;
                font-size: 25px;
                width: 450px;
                color: gray;
            }
            /* ---------------container3 End ---------------------- */
            /* -------------------------container4 start here--------------- */
            
            .container4 {
                width: 90%;
                height: 250px;
                /* border: 1px solid red; */
                margin: 50px auto;
                display: flex;
                gap: 4.7%;
                flex-wrap: wrap;
                margin-bottom: 0px;
            }
            
            .container4>.box2 {
                width: 30%;
                height: 400px;
                /* border: 1px solid black; */
                flex-wrap: wrap;
            }
            
            .container4>.box2>p {
                color: black;
                font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
                font-size: 27px;
                width: 100%;
            }
            
            .container4>.box2 i {
                color: gray;
                /* height: 50px; */
                /* width: 30px; */
                /* border: 1px solid black; */
            }
            
            .container4>.box2 .inner_2 {
                /* margin-top: %; */
                width: 100%;
                height: 20%;
                border-radius: 5%;
                background-color: #00ffa4;
                line-height: 10px;
                flex-wrap: wrap;
                /* border: 1px solid green; */
            }
            
            .new_foot {
                margin-top: 5%;
                /* border: 2px solid blue; */
                height: 20%;
                width: 99%;
            }
            
            .container4>.box2 .new_foot img {
                width: 35%;
                height: 150%;
                float: right;
                border-radius: 50%;
                margin-top: 30px;
                flex-wrap: nowrap;
                border: 6px solid #00ffa4;
            }
            
            .hh {
                width: 30%;
                height: 80%;
                margin-left: 5%;
                padding: 1%;
                /* border: 1px solid red; */
                flex-wrap: wrap;
            }
            
            .hh>p {
                color: gray;
                font-family: sans-serif;
            }
            
            footer {
                margin-top: 12%;
            }
            
            .footer11 {
                height: 160px;
                width: 100%;
                background-color: #171e2f;
                /* border: 1px solid red; */
                /* float: left; */
            }
            
            footer>.footer11 .new_inner22 {
                width: 40%;
                height: 90%;
                border: 5px solid yellow;
                display: flex;
                flex-wrap: wrap;
            }
            
            footer>.footer11 .new_inner22 img {
                width: 10%;
                height: 50%;
                background-color: #171e2f;
                border-radius: 10%;
                margin: 5%
            }
            
            footer>.footer11 .new_inner22 .last {
                width: 60%;
                height: 90%;
                border: 1px solid orange;
            }
            
            footer>.footer11 .new_inner22 .last .end {
                display: flex;
            }
            
            footer>.footer11 .new_inner22 .last i {
                background-color: green;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin: 5%;
            }
            
            .footer11>.footer>img {
                height: 100%;
                width: 100%;
            }
            
            .footer {
                height: 70%;
                width: 30%;
                float: right;
                margin-top: 4.6%;

            }


/* -------------------------------- */

footer {
    width: 100%;
    height: 330px;
    background-color: #171E30;
}

.fooContainer {
    width: 90%;
    height: 350px;
    margin: auto;
}

.fooContainer h5,
p {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    word-spacing: 0.3;
}

.fooContainer p {
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.barContainer {
    width: 100%;
    height: 160px;
    border-bottom: 1px solid white;
}

.fooCont {
    width: 100%;
    height: 160px;
    padding-top: 30px;
    display: flex;
    column-gap:5%;
}

.fooimg1 {
    width: 70px;
    height: 70px;
}

.dunzoBaba {
    width: 270px;
    height: 211px;
    margin-top:-90px;
}

.bar {
    width: 120px;
}

.bar1 {
    width: 220px;
}

.bar2 {
    width: 220px;
}

.bar3 {
    width: 220px;
}

.bar4 {
    width: 240px;
}

.barheader {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

.bar1 p,
.bar2 p,
.bar3 p {
    color: white;
}